// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1.fancy {
  color: green;
  text-decoration: bold;
  text-align: center;

}

  div#welcome {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid blue;
    width: 30%;
    padding: 10px;

}
  span.bold-blue {
    font-weight: bold;
    color: yellowgreen;
    text-decoration: bold;


  }

p#description {
  text-align: center;
  font-size: 16pt;
  color: blue;

}