#header {

  background-color: grey;
  padding: 30px;
  font-size: 20pt;

  a {
    color: lightslategrey;
    &:hover {
      color:cornflowerblue;
      background-color: papayawhip;
    }
  }

}

;