// Place all the styles related to the SalesItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.tb {
  margin: 5px;
  padding: 10px;
  width: 40%;
  box-shadow: 10px 10px 5px #777777;
  border: 3px solid #000000;
  border-collapse: collapse;

}

td, th {
  border: 1px solid #000000;
}